<div class="forget-password" fxLayout="column" fxLayoutGap="10px">
    <div class="header pb-35 color-white">Digite seu email para recuperar sua senha</div>
    <form method="post" [formGroup]="forgetPasswordForm" (submit)="submit()" autocomplete="off">
        <div class="ml-25p mr-25p" fxLayout="column">
            <mat-form-field class="form-field" appearance="outline" color="primary">
                <mat-label> E-mail
                </mat-label>
                <input matInput type="email" formControlName="email" required>
                <mat-error
                    *ngIf="forgetPasswordForm.controls.email.touched && forgetPasswordForm.controls.email.invalid && forgetPasswordForm.controls.email.errors">
                    <span *ngIf="forgetPasswordForm.controls.email.errors.required">Este campo é obrigatório.</span>
                    <span *ngIf="forgetPasswordForm.controls.email.errors.pattern">Este campo é inválido.</span>
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Enviar</button>
        </div>
    </form>
</div>
