<div class="banner prices" fxLayout="column" fxLayoutGap="10px">

    <div class="header pb-35 pt-160">
        Preços
    </div>

    <div class="content pb-160">
        Produtos e serviços sob medida para o seu negócio
    </div>

    <div class="ml-15p mr-15p pb-160" fxLayout="row" fxLayoutGap="20px">

        <div class="price-card pl-15 pr-15 pb-15" fxFlex="25" fxLayout="column" *ngFor="let plan of plans">
            <div class="header">
                <div>{{plan.name}}</div>
                <div class="price">{{plan.price | currency}}</div>
            </div>
            <div class="content" fxLayout="column" fxLayoutGap="10px">
                <div class="pb-10" *ngFor="let role of plan.roles">{{role.description}}</div>
            </div>
            <div class="footer">
                <button mat-raised-button color="primary" class="full" [routerLink]="['/site/subscription', 1]">Assinar</button>
            </div>
        </div>

    </div>
</div>
