.prices {
    height: 100%;
}

.price-card {
    > .header {
        padding: 15px;
        background-color: black;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
    }

    .price {
        padding-top: 25px;
        padding-bottom: 15px;
        font-size: 36px;
        color: blueviolet;
    }

    > .content {
        text-align: center;
        background-color: black;
        padding-left: 15px;
        padding-right: 15px;
    }

    > .footer {
        padding: 15px;
        background-color: black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: center;
    }
}

.full {
    width: 100%;
}
