<div class="section-banner" fxLayout="column" fxLayoutGap="10px">
    <div class="banner-header">Preços</div>
    <div class="banner-content">
        Tudo que você precisa para construir, entregar e iterar novas experiências de clientes
    </div>
</div>
<div class="section-presentation" fxLayout="column">
    <div class="banner-header">

    </div>
    <div>
        <mat-card>
            <mat-card-header>Consultoria</mat-card-header>
            <mat-card-content>
                <p>

                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>Tecnologias</mat-card-header>
            <mat-card-content>
                <p>

                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>Treinamentos</mat-card-header>
            <mat-card-content>
                <p>

                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="section-presentation">
    Tips and tools to optimize your email program.
</div>
<div class="section-presentation">
    Resources to send your best with Twilio SendGrid.
</div>
