<div class="banner" fxLayout="column" fxLayoutGap="10px">
    <div class="header pb-35 pt-160">PREÇOS</div>
    <div class="content pb-160">
        PRODUTOS E SERVIÇOS SOB MEDIDA PARA O SEU NEGÓCIO
    </div>
</div>

<div class="section pb-100 background-1" fxLayout="column">
    <div class="content pt-100 ml-25p mr-25p" fxLayout="row" fxLayoutGap="20px">

        <div class="card pl-15 pr-15 pb-15" fxFlex="25" fxLayout="column">
            <div class="header">Plano Grátis</div>
            <div class="content" fxLayout="column" fxLayoutGap="10px">
                <div>-</div>
                <div>-</div>
                <div>-</div>
                <div>-</div>
                <div>-</div>
            </div>
            <button mat-raised-button>Assinar</button>
        </div>

        <div class="card pl-15 pr-15 pb-15" fxFlex="25" fxLayout="column">
            <div class="header">Plano Básico</div>
            <div class="content" fxLayout="column" fxLayoutGap="10px">
                <div>-</div>
                <div>-</div>
                <div>-</div>
                <div>-</div>
                <div>-</div>
            </div>
            <button mat-raised-button>Assinar</button>
        </div>

        <div class="card pl-15 pr-15 pb-15" fxFlex="25" fxLayout="column">
            <div class="header">Plano Normal</div>
            <div class="content" fxLayout="column" fxLayoutGap="10px">
                <div>-</div>
                <div>-</div>
                <div>-</div>
                <div>-</div>
                <div>-</div>
            </div>
            <button mat-raised-button>Assinar</button>
        </div>

        <div class="card pl-15 pr-15 pb-15" fxFlex="25" fxLayout="column">
            <div class="header">Plano Empresa</div>
            <div class="content" fxLayout="column" fxLayoutGap="10px">
                <div>
                    Acesso às nossas APIs
                </div>
                <div>
                    Suporte 24 Horas
                </div>
                <div>
                    Consultoria Personalizada
                </div>
                <div>-</div>
                <div>-</div>
            </div>
            <button mat-raised-button>Assinar</button>
        </div>

    </div>
</div>
