<div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxFlexFill>
        <div fxFlex="70" class="background-1">

        </div>
        <div fxFlex="30" class="background-2" fxLayout="column">
            <form [formGroup]="loginForm" (submit)="submit()">
                <div class="title color-white pt-35 pb-35">
                    ACESSE SUA CONTA
                </div>
                <div fxLayout="column" class="ml-25p mr-25p">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label> E-mail
                        </mat-label>
                        <input matInput formControlName="email" required>
                        <mat-error
                            *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid && loginForm.controls.email.errors">
                            <span *ngIf="loginForm.controls.email.errors.required">Este campo é obrigatório.</span>
                            <span *ngIf="loginForm.controls.email.errors.pattern">Este campo é inválido.</span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label> Password
                        </mat-label>
                        <input matInput formControlName="password" type="password">
                        <mat-error
                            *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid && loginForm.controls.password.errors">
                            <span *ngIf="loginForm.controls.password.errors.required">Este campo é obrigatório.</span>
                        </mat-error>
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
