<div class="section-banner" fxLayout="column" fxLayoutGap="10px">
    <div class="banner-header">Produtos</div>
    <div class="banner-content">
        Tudo que você precisa para construir, entregar, e iterar novas experiências de clientes
    </div>
</div>
<div class="section-presentation">
    Partner with the email service trusted by developers and marketers for time-savings, scalability, and delivery expertise.
</div>
<div class="section-presentation">
    Tips and tools to optimize your email program.
</div>
<div class="section-presentation">
    Resources to send your best with Twilio SendGrid.
</div>
