html,
body {
    height: 100%;
}
body {
    margin: 0;
}

* {
    font-family: "Ubuntu", sans-serif;
}

.banner {
    background-color: #111111;
    color: #ffffff;
    position: relative;
    z-index: 1;

    > .header {
        font-size: 42px;
        width: 100%;
        text-align: center;
    }

    > .content {
        font-size: 24px;
        width: 100%;
        text-align: center;
    }
}

.presentation {
    text-align: center;
}

.title {
    font-size: 32px;
    text-align: center;
}

.color-white {
    color: #ffffff;
}

.section {
    > .header {
        font-size: 42px;
        text-align: center;
    }
    > .content {
        font-size: 24px;
    }
}

.pt-35 {
    padding-top: 35px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-160 {
    padding-top: 160px;
}

.pb-35 {
    width: 100%;
    padding-bottom: 35px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-160 {
    padding-bottom: 160px;
}

.ml-25p {
    margin-left: 25%;
}

.mr-25p {
    margin-right: 25%;
}

.paragraph {
    text-align: center;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 6px 2px #1f1f1f;
    color: #2f4e6f;
    font-weight: 500;

    > .header {
        padding: 16px;
        font-size: 16px;
        border-bottom: 1px solid lightgrey;
    }

    > .content {
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    > .footer {
        padding: 15px;
    }
}

.background-1 {
    color: #c8d7e3;
    background-color: #2f4e6f;
}

.background-2 {
    background-color: #98b1c4;
}
