<div class="banner" fxLayout="column" fxLayoutGap="10px">
    <div class="header pb-35 pt-160">Contato</div>
    <div class="content pb-160">
        Temos tudo o que sua empresa precisa para entregar produtos de qualidade com escalabilidade e alto desempenho.
    </div>
</div>

<div class="section pb-100 background-1" fxLayout="column">
    <div class="header pb-100 pt-100">Nossa Infraestrutura é Moderna</div>
    <div class="content" fxLayout="column" fxLayoutGap="30px">
        <div class="paragraph ml-25p mr-25p">
            Toda a nossa infraestrutura é baseada em Cloud Computing.
        </div>
        <div class="paragraph ml-25p mr-25p">
            Assim conseguimos entregar alta performance e
            escalabilidade praticamente ilimitada com o menor custo possível.
        </div>
    </div>
</div>

<div class="section background-2" fxLayout="column">
    <div class="header pb-100 pt-100">Parceiros</div>
    <div class="content pb-100" fxLayout="row" fxLayoutAlign="center">
        <img src="/assets/images/aws.png" />
    </div>
</div>

<div class="section pb-100 background-1" fxLayout="column">
    <div class="header pt-100 pb-100">Nossas Principais Tecnologias</div>
    <div class="content ml-25p mr-25p" fxLayout="row" fxLayoutGap="20px">

        <div class="card" fxFlex="25">
            <div class="header">Front-End</div>
            <div class="content" fxLayout="column" fxLayoutGap="10px">
                <div>
                    Angular
                </div>
                <div>
                    Flutter
                </div>
            </div>
        </div>

        <div class="card" fxFlex="25">
            <div class="header">Back-End</div>
            <div class="content" fxLayout="column" fxLayoutGap="10px">
                <div>
                    DotNet
                </div>
                <div>
                    Node.js
                </div>
                <div>
                    Python
                </div>
            </div>
        </div>

        <div class="card" fxFlex="25" fxLayout="column">
            <div class="header">Data-Base</div>
            <div class="content" fxLayout="column" fxLayoutGap="10px">
                <div>
                    MySQL
                </div>
                <div>
                    MariaDB
                </div>
                <div>
                    MongoDB
                </div>
                <div>
                    Microsoft SQL Server
                </div>
                <div>
                    Oracle Database
                </div>
            </div>
        </div>

        <div class="card" fxFlex="25" fxLayout="column">
            <div class="header">Data Engineering</div>
            <div class="content" fxLayout="column" fxLayoutGap="10px">
                <div>
                    Spark
                </div>
                <div>
                    Databricks
                </div>
                <div>
                    AWS S3
                </div>
                <div>
                    Airflow
                </div>
                <div>
                    Apache Kakfa
                </div>
            </div>
        </div>

    </div>
</div>
