<div class="banner contact" fxLayout="column" fxLayoutGap="10px">
    <div class="header pt-45 pb-35">Contato</div>
    <div class="content pb-20">
        Fale mais sobre você e do que precisa.
    </div>
    <form method="post" [formGroup]="contactForm" (submit)="submit()" autocomplete="off">
        <div class="ml-25p mr-25p" fxLayout="column">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput type="text" formControlName="name" required>
                <mat-error
                    *ngIf="contactForm.controls.name.touched && contactForm.controls.name.invalid && contactForm.controls.name.errors">
                    <span *ngIf="contactForm.controls.name.errors.required">Este campo é obrigatório.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Telefone</mat-label>
                <input matInput type="text" formControlName="phone" required>
                <mat-error
                    *ngIf="contactForm.controls.phone.touched && contactForm.controls.phone.invalid && contactForm.controls.phone.errors">
                    <span *ngIf="contactForm.controls.phone.errors.required">Este campo é obrigatório.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput type="email" formControlName="email" required>
                <mat-error
                    *ngIf="contactForm.controls.email.touched && contactForm.controls.email.invalid && contactForm.controls.email.errors">
                    <span *ngIf="contactForm.controls.email.errors.required">Este campo é obrigatório.</span>
                    <span *ngIf="contactForm.controls.email.errors.pattern">Este campo é inválido.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Mensagem</mat-label>
                <textarea matInput type="text" formControlName="message" required></textarea>
                <mat-error
                    *ngIf="contactForm.controls.message.touched && contactForm.controls.message.invalid && contactForm.controls.message.errors">
                    <span *ngIf="contactForm.controls.message.errors.required">Este campo é obrigatório.</span>
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Entrar</button>

        </div>
    </form>
</div>
